body{
    background-image: url("../images/prism.png");
}
.carousel-caption{
    background-color: rgb(68,68,68, 0.5);
}
.featurette-caption{
    background-color: rgb(68,68,68, 0.5);
    color: #EEEEEE;
}
footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
footer{
    position: fixed;
    bottom: 0;
}